<div class="row">
  <div class="col-md-8 offset-md-2">
<h1>CPU情報登録ページ</h1>

<table class = "table">
  <%= form_with model: @cpu_list, url: admin_cpu_lists_path do |f| %>
  <thead>
  </thead>
    <tbody>
      <tr><td>
      <lavel>メーカー</lavel>
      </td><td>
      <%= f.select :maker, ["intel","AMD"] %>
      </td></tr>

      <tr><td>
      <lavel>名称</lavel>
      </td><td>
      <%= f.text_field :name %>
      </td></tr>

      <tr><td>
      <lavel>シングルスコア(R15)</lavel>
      </td><td>
      <%= f.text_field :single_score %>
      </td></tr>

      <tr><td>
      <lavel>マルチスコア(R15)</lavel>
      </td><td>
      <%= f.text_field :multiscore %>
      </td></tr>

      <tr><td>
      <lavel>ベースクロック(MHz)</lavel>
      </td><td>
      <%= f.text_field :clock %>
      </td></tr>

      <tr><td>
      <lavel>コア数</lavel>
      </td><td>
      <%= f.text_field :number_of_cores %>
      </td></tr>

      <tr><td>
      <lavel>スレッド数</lavel>
      </td><td>
      <%= f.text_field :number_of_threads %>
      </td></tr>

      <tr><td>
      <lavel>リリース年</lavel>
      </td><td>
      <%= f.text_field :year_of_release %>
      </td></tr>

      <tr><td>
      <%= f.submit "新規登録",class: "btn btn-primary" %>
      </td><td></td></tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>