<div class="row">
  <div class="col-md-8 offset-md-2">
<h1>CPU詳細ページ</h1>
<table class = "table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr><td>メーカー</td><td><%= @cpu_list.maker %></td></tr>
        <tr><td>名称</td><td><%= @cpu_list.name %></td></tr>
        <tr><td>シングルスコア</td><td><%= @cpu_list.single_score %></td></tr>
        <tr><td>マルチスコア</td><td><%= @cpu_list.multiscore %></td></tr>
        <tr><td>クロック(MHz)</td><td><%= @cpu_list.clock %></td></tr>
        <tr><td>コア数</td><td><%= @cpu_list.number_of_cores %></td></tr>
        <tr><td>スレッド数</td><td><%= @cpu_list.number_of_threads %></td></tr>
        <tr><td>リリース年</td><td><%= @cpu_list.year_of_release %></td></tr>
      </tbody>
    </table>
  </div>
</div>