public/aricles#new
<h1>My PC登録</h1>
<table class = "table">
  <%= form_with model: @computer, url: computers_path do |f| %>
  <thead>
  </thead>
    <tbody>
      <tr><td>
      PC名
      </td><td>
      <%= f.text_area :body %>
      </td></tr>
      
      <tr><td>
      OS
      </td><td>
      <%= f.select :system_id, System.all.map{ |system| [system.name, system.id]} %>
      </td></tr>

      <tr><td>
      CPU
      </td><td>
      <%= f.select :cpu_list_id, GPUList.all.map{ |cpu| [cpu.name, cpu.id]} %>
      </td></tr>
      
      <tr><td>
      メモリ
      </td><td>
      <%= f.field :memory_capacity %>GB
      </td></tr>

      <tr><td>
      GPU
      </td><td>
      <%= f.select :gpu_list_id, GPUList.all.map{ |gpu| [gpu.name, gpu.id]} %>
      </td></tr>
      
      <tr><td>
      記憶容量
      </td><td>
      <%= f.field :gpu_list_id %>GB
      </td></tr>
      

     

    </table>
    <%#= f.hidden_field :public_id, :value => current_public.id %>
    <%= f.submit "新規登録" %>

    <% end %>
