<div class="row">
  <div class="col-md-8 offset-md-2">
<h1>My PCデータ登録</h1>
<%= form_with model: @computer, url: computers_path do |f| %>

PC名 <%= f.text_field :name %><br>

PCタイプ <%= f.select :pc_type, ["デスクトップPC","ノートPC","一体型","その他","不明"] %><br>

CPU名 <%= f.select :cpu_list_id, CpuList.all.map{ |cpu| [cpu.name, cpu.id]} %><br>

メモリ量<%= f.text_field :memory_capacity %>GB<br>

GPU名<%= f.select :gpu_list_id, GpuList.all.map{ |gpu| [gpu.name, gpu.id]} %><br>

空きストレージ量<%= f.text_field :free_storage %>GB<br>

ストレージタイプ<%= f.select :storage_type, ["2.5インチHDD","3.5インチHDD","2.5インチSSD","M.2_SSD","それ以外","分からない"] %><br>

OS名<%= f.select :system_id, System.all.map{ |system| [system.name, system.id]} %><br>

<%= f.submit "新規登録" %>

<% end %>


    </div>
</div>
