<div class="row">
  <div class="col-md-8 offset-md-2">
<%= link_to "ゲームジャンル一覧ページ", admin_genres_path, class: "btn btn-info" %>
<h1>記事タイプ一覧ページ</h1>
<table class = "table">
  <thead>
  </thead>
  <tbody>
    <%= form_with model: @type, url: admin_types_path do |f| %>
      <tr><td>
      <b>記事タイプ登録</b>
      </td><td>
      <%= f.text_field :name %>
      </td>
      <td>
      <%= f.submit "新規登録", class: "btn btn-primary" %>
      </td></tr>
      </tbody>
    </table>
    <% end %>
    <br>

    <table class = "table table-hover">
      <thead>
        <tr>
          <th>記事種別</th>
          <th></th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td><%= link_to "編集", edit_admin_type_path(type.id) ,class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>