<div class="row">
  <div class="col-md-8 offset-md-2">
<h1>GPU詳細ページ</h1>
<table class = "table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr><td>メーカー</td><td><%= @gpu_list.maker %></td></tr>
        <tr><td>名称</td><td><%= @gpu_list.name %></td></tr>
        <tr><td>スコア(Gflops)</td><td><%= @gpu_list.score %></td></tr>
        <tr><td>ビデオメモリ(GB)</td><td><%= @gpu_list.video_memory %></td></tr>
        <tr><td>DirectX</td><td><%= @gpu_list.DirectX %></td></tr>
        <tr><td>リリース年</td><td><%= @gpu_list.year_of_release %></td></tr>
        <tr><td>(テスト)</td><td><%= @gpu_list.id %></td></tr>
      </tbody>
    </table>
  </div>
</div>