<div class="row">
  <div class="col-md-6 offset-md-2">
    <div class="form-group">
<h2>ログイン</h2>

<%= form_with model: @public, url: public_session_path  do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン",class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "public/shared/links" %>
    </div>
  </div>
</div>
